:root{
    --bg-color: linear-gradient(180deg,rgba(115,113,113,.22) 0%, rgba(66,64,64,.4859) 42.01%, rgba(48,46,46,1) 98.26%);

    --element--color: rgb(43,45,66);
    --neutral-color: rgb(237,242,244);
    --accent-color: rgb(141,153,174);

    --lightmode-text-color: #242331;
    --darkmode-text-color:#FFFFFF;

    /*=====special color=====*/
    --nav-bg: rgb(20,20,20);
    --nav-card-color: rgb(23,23,23);

    /*=====special margins====*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*====Special Font Size=====*/
    --small-font-size: .813rem;

    /*====General Padding=====*/
    --padding:1rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*===== General Styling ===*/
body{
    min-height: 100vh;
    min-width: 320px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

section > h1 {
    color: var(--lightmode-text-color);
    text-align: center;
    margin-bottom: 2rem;
}


/*====Carousel Effect=====*/
/*main > *:has([data-use="true"]:not(*[data-use="true"]:nth-of-type(1))),*/

main {
    display: flex;
    flex-direction: column;
}

main > section[data-status="inactive"],
main > header[data-status="inactive"],
main > aside[data-status="inactive"]{
    --offset:max(var(--height),var(--y-coord));
    transform:  translateX(calc(-100% * var(--offset))) translateY(0%);
    transition: none;
}
main > section[data-status="active"],
main > header[data-status="active"],
main > aside[data-status="active"] {
    --offset:max(var(--height),var(--y-coord));
  transform: translateX(0%) translateY(calc(0% - calc(var(--offset) + calc(var(--padding) * .0035))));
  transition: none;
}
/*
main > section[data-status="before"],
main > header[data-status="before"],
main > aside[data-status="before"] {
  transform: translateX(-100%) translateY(-100%);
}
main > section[data-status="after"],
main > header[data-status="after"],
main > aside[data-status="after"] {
  transform: translateX(100%) translateY(100%);
}

main > section[data-status="becoming-active-from-before"],
main > header[data-status="becoming-active-from-before"],
main > aside[data-status="becoming-active-from-before"] {
  transform: translateX(-100%) translateY(100%);
  transition: none;
}

main > section[data-status="becoming-active-from-after"],
main > header[data-status="becoming-active-from-after"],
main > aside[data-status="becoming-active-from-after"] {
  transform: translateX(150%) translateY(150%);
  transition: none;
}
*/
/**==== Nav Button For carousel ====**/
.article-nav-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;

    padding: 0;
}
.article-nav-button{
    margin: 0;
    padding: 0;
}
#upbutton {
    flex-shrink: 1;
    flex-grow: .20;
}
#downbutton{
    flex-grow: .30;
    flex-shrink: 1;
}


/**====Carousel Layout */
main > *{
    flex-grow: 1;
    min-height: 100%;
    min-width: 100%;
}

section[data-index="5"]{
    background-color: green;
}
section[data-index="6"]{
    background-color: red;
}
/*======= Hero =====*/


@keyframes float {
    from, to {
      transform: translateY(-0%);
    }
    
    50% {    
      transform: translateY(-3%);
    }
  }
  
  @keyframes background-pan {
    from {
      background-position: 1000% center;
    }
    
    to {
      background-position: 0% center;
    }
  }


#Home{
    background:var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heroItems {
    transition: opacity 250ms ease;
    margin: 0;
}

#Home:has(.fancy:hover)
.heroItems:not(.fancy:hover){
    opacity: .2;
}

.fancy{
    flex-grow: 1;
}
.social-links{
    flex-grow: .5;
}
.fancy span {
    display: inline-block;
}

.fancy > .outer {
    transition: transform 350ms ease;
}

.fancy:hover > .outer {
    transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
    animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
    background: linear-gradient(
        to right, 
        var(--element--color),
        var(--accent-color),
        var(--element--color)
    );
    background-size: 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: background-pan 150s linear infinite;
}

.fancy:hover > .outer:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .outer:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .outer:nth-child(5) {
  transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(7) {
  transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover > .outer:nth-child(8) {
  transform: translate(0%, 15%) rotate(10deg);
}

.fancy:hover > .outer:nth-child(9) {
  transform: translate(0%, -50%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(10) {
  transform: translate(0%, 15%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
}

.fancy:hover > .outer:nth-child(13) {
    transform: translate(80%, 10%) rotate(-10deg);
}
.fancy:hover > .outer:nth-child(14) {
    transform: translate(120%, -10%) rotate(10deg);
}
.fancy:hover > .outer:nth-child(15) {
    transform: translate(100%, 20%) rotate(60deg);
}
.fancy:hover > .outer:nth-child(16) {
    transform: translate(120%, 30%) rotate(-10deg);
}
.fancy:hover > .outer:nth-child(17) {
    transform: translate(120%, -30%) rotate(-10deg);
  }
  .fancy:hover > .outer:nth-child(18) {
    transform: translate(120%, 60%) rotate(9deg);
  }
  .fancy:hover > .outer:nth-child(19) {
    transform: translate(120%, -30%) rotate(-10deg);
  }

/** Header **/
header{
    background-color: var(--nav-bg);
    border-radius: 10px;
    padding: 18px;
}

header #cards {
    display:  flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    gap: 8px;
}

ul li {
    list-style: none;
    
}

ul li a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}

#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    height: 50px;
    position: relative;
    width: 175px;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06), transparent 40%);
    z-index: 3;
}

.card::after {  
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    background-color: var(--nav-card-color);
    border-radius: inherit;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

.icon {
    color: rgb(240, 240, 240);
    height: 30px;
    width: 30px;

}

.card-content > .icon {
    opacity: .25;
}

@media (max-width:1000px) {
    #cards {
        max-width: 1000px;
        padding: 10px 0px;
    }

    .card {
        flex-shrink: 1;
        width: calc(50% - 4px);
    }
}

@media (max-width: 500px) {
    .card {
        height: 25px;
    }
}

@media (max-width:320px) {
    .card{
        width: 100%;
    }
}