@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;1,400&family=Dancing+Script:wght@400;600&family=Modak&family=MuseoModerno:wght@100;200;400;800;900&family=Chakra+Petch:wght@400;500;600;700&family=Noto+Serif+Bengali:wght@500&family=Nunito+Sans:wght@300;600;800&family=Rampart+One&family=Tilt+Prism&display=swap');
:root{
    --bg-color: linear-gradient(180deg,rgba(115,113,113,.22) 0%, rgba(66,64,64,.4859) 42.01%, rgba(48,46,46,1) 98.26%);

    --element--color: rgb(43,45,66);
    --neutral-color: rgb(237,242,244);
    --accent-color: rgb(141,153,174);

    --lightmode-text-color: #242331;
    --darkmode-text-color:#FFFFFF;

    /*=====special color=====*/
    --nav-bg: rgb(20,20,20);
    --nav-card-color: rgb(23,23,23);

    /*=====special margins====*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;


    /*=========Font Family ==== */
    --primary-font-family:'Noto Serif Bengali', serif, 'Nunito Sans', sans-serif,  'Chakra Petch', sans-serif;
    --secondary-font-family: 'Cormorant Garamond', serif, 'Amatic SC', cursive;
    --special-font-family:'Modak', cursive;
    --hero-font-family: 'MuseoModerno', cursive;
    --header-font-family:'Tilt Prism', cursive;
    --alt-hero-font-family:'Rampart One', cursive;

    /*====Special Font Size=====*/
    --small-font-size: .813rem;

    /*====General Padding=====*/
    --padding:.35rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*===== General Styling ===*/
body{
    min-height: 100vh;
    min-width: 320px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    font-family: var(--primary-font-family);
}

section > h1 {
    color: var(--lightmode-text-color);
    text-align: center;
    font-family: var(--header-font-family);
}





/*====Page Layout: Carousel Effect=====*/




.carousel-slide{
    flex: 1 0 100%;
    position: relative;
    bottom: 0; 
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/**==== Nav Button For carousel ====**/
.article-nav-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.article-nav-button{
    margin: 0;
    padding: 0;
    background-color: var(--element--color);
    flex: 1 0 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 320px) {
    .carousel-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: transform .3s ease-in-out;
    }
    .article-nav-button{
        margin: 0;
        padding: 0;
        background-color: var(--element--color);
        flex: .5 1 10%;
    }
}

@media (min-width:480px) {
    .carousel-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: transform .3s ease-in-out;
    }
    .article-nav-button{
        margin: 0;
        padding: 0;
        background-color: var(--element--color);
        flex: .5 1 10%;
    }
}

@media (min-width:768px) {
    .carousel-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: transform .3s ease-in-out;
    }
    
    .article-nav-button{
        margin: 0;
        padding: 0;
        background-color: var(--element--color);
        flex: .5 1 10%;
    }
}


@media (min-width:992px) {
    .carousel-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: transform .3s ease-in-out;
    }
    
    .article-nav-button{
        margin: 0;
        padding: 0;
        background-color: var(--element--color);
        flex: .75 1 25%;
    }
}

@media (min-width:1024px) {
    .carousel-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300%;
        transition: transform .3s ease-in-out;
    }
    
    .article-nav-button{
        margin: 0;
        padding: 0;
        background-color: var(--element--color);
        flex: 1 1 50%;
    }
}